.drivers-advantages {
  background: url(https://d1a3f4spazzrp4.cloudfront.net/chameleon-assets/v1.0.0/76830279-22dd-4a34-8150-004f75a3afd9/desk.jpg)
    center no-repeat;
  background-size: cover;
  height: 420px;
}

.inner-box {
  color: #ffffff;
  padding: 80px 0px 50px 34px;
}

.inner-box .header {
  font-size: 1.5em;
  font-weight: 300;
}

.inner-box h3 {
  font-weight: 100;
  font-size: 0.88em;
  text-align: justify;
  width: 100%;
  margin-bottom: 0px;
  padding-top: 5px;
}

.add-text {
  width: 50%;
  max-width: 510px;
  text-align: left;
  padding-bottom: 30px;
}

.drivers-adv-btn {
  background-color: black;
  width: 350px;
  margin-top: 30px;
}

.drivers-link {
  font-weight: 600;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  padding: 2px 25px;
}

.drivers-link .arrow-box {
  display: inline-block;
  padding-left: 12px;
}

.drivers-link .arrow-box img {
  vertical-align: top;
  padding-top: 0px;
}

/*....................ANIMATIONS.........................*/

.drivers-link {
  transition: all 250ms ease;
}

.drivers-link .arrow-box {
  transition: all 250ms ease;
}

.drivers-link:hover .arrow-box {
  transform: translateX(4px);
}

.drivers-link:hover {
  cursor: pointer;
  opacity: 0.8;
}

/*......................SIZING...............................*/

@media screen and (min-width: 769px) {
  .inner-box {
    padding: 120px 100px 40px 100px;
  }

  .drivers-advantages {
    height: 460px;
  }
}

@media screen and (min-width: 1025px) {
  .inner-box .header {
    font-size: 2.1em;
    font-weight: 500;
  }

  .drivers-advantages {
    height: 500px;
  }

  .inner-box {
    padding: 120px 180px 40px 180px;
  }
}
