/*************BLOCKS-POSITIONING etc*******************/

.company-adv .img-box {
  background-image: url(https://d1a3f4spazzrp4.cloudfront.net/chameleon-assets/v1.0.0/4878ffeb-2036-485f-b274-73f0f36e3a71/palm.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}

.company-adv .text-box {
  padding: 25px 40px 20px 40px;
  background-color: transparent;
}

.company-adv .text-box h2 {
  margin-top: 0px;
}

.company-adv .text-box .header-box p {
  margin-bottom: 4px;
}

.company-adv .btn-more {
  width: 140px;
}

.company-adv .btn-more span {
  vertical-align: top;
}

.company-adv .btn-more .arrow {
  display: inline-block;
  padding-left: 8px;
  padding-top: 2.5px;
}

.company-adv .btn-more img {
  vertical-align: top;
}
/*************BLOCKS-POSITIONING etc*******************/

/**********************TEXT****************************/

.company-adv .text-box h2 {
  font-weight: 300;
  font-size: 1.35em;
}

.company-adv .text-box .description p {
  font-size: 0.875em;
  line-height: 2;
  text-align: left;
  word-spacing: -2px;
}

.company-adv .btn-more {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: -0.2px;
}

/*********************TEXT*****************************/

/*....................ANIMATIONS.........................*/

.company-adv .btn-more span {
  transition: all 400ms ease;
}

.company-adv .btn-more .arrow {
  transition: all 400ms ease;
}

.company-adv .btn-more:hover {
  opacity: 0.5;
}

.company-adv .btn-more:hover .arrow {
  transform: translateX(2.5px);
}

/*......................FLEXIM.........................*/

.company-adv .flex-box {
  display: flex;
  flex-direction: column;
}

/*......................SIZING...............................*/

@media screen and (min-width: 769px) {
  .company-adv .from-1025 {
    background-color: #f8f8f9;
  }

  .company-adv .flex-box {
    flex-direction: row;
  }

  .company-adv .img-box {
    height: 450px;
    flex: 50%;
  }

  .company-adv .text-box {
    flex: 50%;
  }

  .company-adv .text-box h2 {
    font-weight: 400;
    font-size: 24px;
  }
}

@media screen and (min-width: 1025px) {
  .company-adv .flex-box {
    padding: 90px;
  }
  .company-adv .text-box {
    background-color: #ffffff;
    flex: 35%;
  }
  .company-adv .img-box {
    height: 530px;
    flex: 65%;
  }

  .company-adv .text-box p {
    font-size: 1.4em;
  }

  .company-adv .text-box h2 {
    font-weight: 500;
    font-size: 32px;
  }
}
