.clients-adv {
  width: 100%;
}

.clients-adv .imgBox {
  height: 125px;
  width: 125px;
}

.row-3 img {
  height: 125px;
  width: 125px;
}

.advantages-text {
  height: 100%;
  width: 100%;
}

.clients-adv,
.row-3 {
  padding: 0px 14px;
  word-spacing: -0.8px;
  letter-spacing: -0.4px;
  flex: 1;
}

.clients-adv,
.row-3 h4 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

.clients-adv,
.row-3 p {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  text-align: justify;
  font-size: 0.97em;
  line-height: 2em;
}

.row-4 {
  padding: 20px 0px 45px 14px;
}

.clients-adv .advantages-link {
  background: black;
  height: 40px;
  width: 300px;
  text-align: center;
}

.advantages-link .link {
  font-weight: 700;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: -0.8px;
  color: #ffffff;
  display: inline-block;
  padding-top: 4px;
}

.advantages-link .arrow {
  display: inline-block;
  padding-left: 5px;
}

/*....................ANIMATIONS.........................*/

.advantages-link .link {
  transition: all 400ms ease;
}

.advantages-link .arrow {
  transition: all 400ms ease;
}

.advantages-link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.advantages-link:hover .arrow {
  transform: translateX(4px);
}

/*.....................FLEXIM............................*/

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*..............SIZING......................*/

@media screen and (min-width: 769px) {
  .clients-adv {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media screen and (min-width: 1025px) {
  .clients-adv {
    padding: 40px 180px;
  }

  .row {
    flex-direction: row;
  }
}
