.catchphrase {
  padding: 0px 24px;
}

.main-phrase {
  color: #000000;
  font-weight: lighter;
  line-height: 55%;
  font-size: 170%;
  letter-spacing: -0.4px;
}

.ad-picture {
  height: 270px;
  background-image: url(https://d1a3f4spazzrp4.cloudfront.net/chameleon-assets/v1.0.0/c70b8eba-a194-42c9-b734-00bd27cda456/desk.jpg);
  background-size: cover;
  margin-top: 55px;
}

.mb-use {
  background-color: #000000;
  height: 150px;
  width: 150px;
  color: #ffffff;
  position: relative;
  left: 60%;
  bottom: 135px;
  z-index: 1;
  padding: 15px 15px 0px 15px;
}

.plz-use {
  line-height: 100%;
}

.plz-download {
  font-weight: bold;
  font-size: 90%;
  text-transform: uppercase;
}

/*....................ANIMATIONS.........................*/

.mb-use {
  transition: all 400ms ease;
}

.mb-use .arrow {
  transition: all 400ms ease;
}

.mb-use:hover {
  background-color: #504a4a;
  cursor: pointer;
}

.mb-use:hover .arrow {
  transform: translateX(4px);
}

/*.................SIZING.....................*/

@media screen and (min-width: 574px) and (max-width: 768px) {
  .catchphrase {
    padding: 0px 48px 0px 48px;
  }

  .ad-picture {
    height: 330px;
  }

  .mb-use {
    left: 75%;
  }
}

@media screen and (min-width: 769px) {
  .catchphrase {
    padding: 20px 100px 20px 100px;
  }

  .ad-picture {
    height: 370px;
  }

  .mb-use {
    bottom: 115px;
    left: 75%;
  }
}

@media screen and (min-width: 1025px) {
  .main-advantages {
    padding-bottom: 350px;
  }

  .main-phrase {
    font-size: 220%;
  }

  .till1024 {
    display: none;
  }

  .ad-picture {
    height: 480px;
  }

  .mb-use {
    bottom: 95px;
  }
}
