.trip-price-count {
  height: 275px;
  background-image: url(https://d1a3f4spazzrp4.cloudfront.net/uber-com/1.3.8/d1a3f4spazzrp4.cloudfront.net/images/fare-estimate/mobile-fare-estimate-map-d7bf04aff9.jpg);
  background-size: cover;
  /*overflow-y: visible;*/
}

.trip-price-form {
  position: relative;
  left: 35px;
  top: 70px;
  right: 0px;
  width: 100%;
  height: 230px;
  background-color: #ffffff;
  z-index: 1;
}

.innerform {
  padding: 15px 30px 20px 30px;
}

.trip-price-form .price {
  font-weight: 100;
  font-size: 0.87em;
  color: grey;
}

.trip-price-form .countPrice {
  font-weight: 250;
  font-size: 1.05em;
  letter-spacing: 0px;
}

.input-form {
  padding: 0px 44px 0px 0px;
}

.small-line {
  width: 1px;
  background-color: #cac3c3;
  height: 60px;
  position: absolute;
  top: 125px;
  left: 45px;
}

.small-line::before {
  content: '';
  border: 2px solid #0aca2a;
  border-radius: 50%;
  position: absolute;
  left: -2px;
}

.small-line::after {
  content: '';
  border: 2px solid #fd2020;
  border-radius: 50%;
  position: absolute;
  left: -2px;
  top: 58px;
}

.row-5 {
  padding-bottom: 10px;
  height: 55px;
}

.input-form .row {
  display: inline-block;
  width: 100%;
  border: 0.3px;
  color: gray;
}

.innerform .btn {
  height: 45px;
  width: 45px;
  padding: 9.2px 15.2px 16.2px 13.2px;
  vertical-align: top;
  position: absolute;
  right: 75px;
  opacity: 0.3;
}

.innerform .plane:hover {
  cursor: pointer;
}

.innerform .arrow {
  background-color: #a39f9ff8;
}

.innerform .input {
  height: 45px;
  width: 100%;
  border-color: #cac3c3;
  border-style: solid;
}

.input input {
  padding-top: 15px;
  padding-left: 30px;
  width: 100%;
  color: grey;
  font-size: 0.8em;
}

input {
  outline: none;
}
