/*SOCIAL LINKS*/

/*...................POSITIONING.......................*/
.social-links .soc-column {
  height: 50px;
  width: 100%;
  border-top: #282727 solid 1px;
  border-bottom: #282727 solid 1px;
}

.social-links .soc-link {
  display: inline-block;
  padding-top: 10px;
  height: 30px;
}

.soc-link .icon {
  display: inline-block;
  padding-right: 15px;
  padding-top: 2px;
}

.soc-link .icon img {
  vertical-align: top;
}

.soc-link .description {
  vertical-align: top;
}

.social-links .mass-icons {
  height: 60px;
}

.mass-icons .icon {
  padding-right: 25px;
}

/***************TEXT*****************/

.soc-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.93em;
}

.soc-link .lang-link {
  text-transform: uppercase;
}

/*......................SIZING...............................*/

@media screen and (min-width: 769px) {
  .social-links .soc-column {
    border: none;
  }

  .mass-icons {
    padding-top: 415px;
  }

  .mass-icons .icon {
    padding-right: 13px;
  }
}
