/*DOUBLING LINKS*/
/*...................POSITIONING.......................*/

.doubling-links .column {
  padding-top: 40px;
}

.doubling-links .for-users {
  padding-top: 55px;
}

.doubling-links .column a {
  display: block;
  padding: 10px 0;
}

/***************TEXT*****************/

.doubling-links .column a {
  color: #c0c0c0;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: -0.2px;
  transition: all 150ms ease;
}

.doubling-links .column a:hover {
  color: #7e7c7c;
}

.doubling-links .column .title {
  color: #ffffff;
  transition: all 150ms ease;
}

.doubling-links .column .title:hover {
  color: #a3a1a1;
}

/*..................FLEXIM..........................*/

.doubling-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex {
  flex: 1;
}
/*......................SIZING...............................*/

@media screen and (min-width: 769px) {
  .doubling-links {
    flex-direction: row;
    padding-bottom: 30px;
  }

  .doubling-links .about-comp {
    padding-top: 0px;
  }

  .doubling-links .for-users {
    padding-top: 0px;
  }
}

@media screen and (min-width: 1025px) {
}
