/*...................POSITIONING.......................*/
.search-form {
  background-color: #f8f8f9;
  /*margin-bottom: 30px;*/
}

.inner-search-form {
  height: 100%;
  width: 100%;
  padding-left: 24px;
  padding-top: 25px;
}

.search-form .header-box {
  padding-bottom: 25px;
}

.search-form .input-box {
  height: 40px;
  width: 100%;
}

.input-box .row {
  display: inline-block;
  background-color: #ffffff;
}

.actual-input-box {
  width: 400px;
  height: 100%;
}

.input-box .btn-search {
  width: 40px;
  height: 100%;
  background-color: black;
  padding-top: 0px;
  padding-left: 10px;
}
